.status-badge {
    width: 80px;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.logout-icon {
    display: none; 
    cursor: pointer;
}
.logout-link {
    display: inline; 
}